{% extends 'books/base.html' %}
 {% block body %}
<html>
<head>

</head>
<body>
<h2>Books Names</h2>
<ul>
    {% for book in all_books %}
    <!--<li><a href="/books/{{book.id}}/">{{book.Name}}</a></li> -->
    <li><a href="{% url 'books:detail' book.id %}"><h3>{{book.Name}}</h3></a></li>
    {% endfor %}
</ul>


<h2>Teacher Names</h2>
<ul>
    {% for teacher in all_teacher %}
   <!-- <li><a href="/books/{{teacher.id}}/">{{teacher.Name}}</a></li> -->
    <li><a href="{% url 'books:teacherDet' teacher.id %}"><h3>{{teacher.Name}}</h3></a></li>
    {% endfor %}
</ul>

<h2>Editors Name</h2>
<ul>
        {% for editor in all_editors %}
    <li><a href="/books/{{editor.id}}/"><h3>{{editor.Name}}</h3></a></li>
        {% endfor %}
</ul>
</body>
</html>
{% endblock %}